<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.PrivateDataBaseConnectionString"
        connectionString="Data Source=LION\LION;Initial Catalog=PrivateDataBase;Persist Security Info=False;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name ="UFTSystem"
        connectionString="Initial Catalog=UFTSystem;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name ="ConnectionString"
        connectionString="Initial Catalog=PrivateDataBase;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection"
        connectionString="Initial Catalog=UFTData899041_000006;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ProjectToYou-20160714022758.mdf;Initial Catalog=aspnet-ProjectToYou-20160714022758;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--公司名字-->
    <add key="CommpanyName" value=""/>
    <!--打印机X轴Y轴坐标-->
    <add key="PrintRow1X" value="10"/>
    <add key="PrintRow1Y" value="0"/>
    <add key="PrintRow2X" value="80"/>
    <add key="PrintRow2Y" value="50"/>
    <add key="PrintRow3X" value="80"/>
    <add key="PrintRow3Y" value="100"/>
    <add key="PrintRow4X" value="80"/>
    <add key="PrintRow4Y" value="150"/>
    <add key="PrintRow5X" value="80"/>
    <add key="PrintRow5Y" value="200"/>
    <add key="PrintRow6X" value="80"/>
    <add key="PrintRow6Y" value="250"/>
    <add key="PrintRow7X" value="80"/>
    <add key="PrintRow7Y" value="300"/>
    <!--打印字号-->
    <add key="PrintFontSize" value="20"/>
    <!--打印字体颜色-->
    <add key="PrintFontColor" value="Black"/>
    <!--打印字体-->
    <add key="PrintFont" value="宋体"/>
  </appSettings>
</configuration>