<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name ="UFTSystem" 
         connectionString="Initial Catalog=UFTSystem;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="ConnectionString" 
         connectionString="Initial Catalog=PrivateDataBase;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection" 
         connectionString="Initial Catalog=UFTData980448_000001;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection2" 
         connectionString="Initial Catalog=UFTData527756_000002;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection3" 
         connectionString="Initial Catalog=UFTData402383_000003;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection4" 
         connectionString="Initial Catalog=UFTData022804_000004;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <add name ="DefaultConnection5" 
         connectionString="Initial Catalog=UFTData707158_000005;Server=LION\LION;Persist Security Info=False;User ID=sa;Password=123456" 
         providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ProjectToYou-20160714022758.mdf;Initial Catalog=aspnet-ProjectToYou-20160714022758;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>